<main class="g-min-height-100vh g-flex-centered g-bg-size-cover g-bg-cover g-bg-bluegray-opacity-0_3--after g-pa-15" style="background-image: url(/assets/img-temp/1920x1080/img1.jpg);">
    <div class="text-center g-max-width-700 g-flex-centered-item g-z-index-1 g-color-white g-bg-primary rounded">
      <h1 class="display-3 g-mb-30">Coming Soon</h1>
      <p class="g-font-size-22 g-mb-50">We are busy working on filling out the content for this page. Please check back soon, or sign up for our newsletter to receive notifications!</p>
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup text-center">
        <form action="https://aoblockchain.us17.list-manage.com/subscribe/post?u=977881fd9afe0fcd2ff16e991&amp;id=9658140b89" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="g-brd-around g-brd-gray-light-v4 g-pa-30 g-mb-30" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <h2>Subscribe to our mailing list</h2>
        <div class="form-group g-mb-20">
          <label for="mce-EMAIL" class="g-mb-10">Email Address </label>
          <input type="email" value="" name="EMAIL" class="required email form-control form-control-md rounded-0" id="mce-EMAIL">
          <small class="form-text text-muted g-color-white g-font-size-default g-mt-10">We'll never share your email with anyone else.</small>
        </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_977881fd9afe0fcd2ff16e991_9658140b89" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-block u-btn-main g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13"></div>
            </div>
        </form>
        </div>

      <!--End mc_embed_signup-->
      </div>
    </div>
  </main>

