    <!-- Promo Block -->
    <section class="container g-pt-150 g-pb-50">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
          <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Cookie Policy</h2>
          <p>This Cookie Policy explains how Don't Panic Consulting, AO Cyber Systems, and AO blockchain System, (collectively "Don't Panic", "we", "us", and "ours") use cookies and similar technologies to recognize you when you visit our websites at https://aoblockchain.io, https://dontpanic.consulting, and any other related, connected, or linked site, ("Sites"). It explains what these technology are and why we use them, as well as your rights to control our use of them.</p>
          <p class="mb-0">In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information. In such cases our <a href="/privacy">Privacy Policy</a> will apply in addition to this Cookie Policy.</p>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- Content -->
    <section class="g-bg-gray-light-v5">
      <div class="container g-py-100">
        <div class="row">
          <div id="stickyblock-start" class="col-md-4 g-mb-30">
            <div class="js-sticky-block g-sticky-block--lg" data-type="responsive" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
              <ul class="list-unstyled mb-0">
                <li class="g-bg-gray-dark-v2 g-rounded-top-5 g-px-20 g-pt-30">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#whatCookies">What are cookies?</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#whyCookies">Why do we use cookies?</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#tracking">What about other tracking technologies, like web beacons?</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#control">How do I control cookies?</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#updates">How often will you update this Cookie Policy?</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-rounded-bottom-5 g-px-20 g-pb-30">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#contact">Where can I get further information?</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">
            <div id="whatCookies" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">What are cookies?</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.</p>
              <p>Cookies set by the website owner (in this case, Don't Panic) are called "first party cookies". Cookies set by parties other than the website owner are called "third party cookies". Third party cookies enable third part features or functionality to be provided on or through the website (e.g. like advertising, interactive content, and analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.</p>
            </div>
            <div id="whyCookies" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Why do we use cookies?</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We use first and third party cookies for several reasons. Some cookies are required for technical reasons in order for our Sites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online properties. Third parties serve cookies through our Sites for advertising, analytics, and other purposes.</p>
              <p>The specific types of first and third party cookies served through our Sites and the purposes they perform are described below (please note that the specific cookies served may vary depending on the specific Online Properties you visit):</p>
              <h3>Analytics and customization cookies:</h3>
              <p>These cookies collect information that is used either in aggregate form to help us understand how our Sites are being used or how effective our marketing campaigns are, or to help us customize our Sites for you.</p>
              <h3>Social networking cookies:</h3>
              <p>These cookies are used to enable you to share pages and content that you find interesting on our Sites through third party social networking and other websites. These cookies may also be used for advertising purposes.</p>
            </div>
            <div id="tracking" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">What about other tracking technologies, like web beacons?</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>Cookies are not the only way to recognize or track visitors to a website. We may use other, similar technologies from time to time, like web beacons (sometimes called "tracking pixel" or "clear gifs"). These are tiny graphics files that contain a unique identifier that enables us to recognize when someone has visited our Sites or opened an e-mail that we have sent them. This allows us, for example, to monitor the traffic patterns of users from one page within our Sites to another, to deliver or communicate with cookies, to understand whether you have come to our Sites from an online advertisement displayed on a third-party website, to improve site performance, and to measure the success of e-mail marketing campaigns. In many instances, these technologies are reliant on cookies to function properly, and so declining cookies will impair their functioning.</p>
            </div>
            <div id="control" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">How can I control cookies?</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>You have the right to decide whether to accept or reject cookies. You can set or amend your web browser controls to accept or refuse cookies. If you choose to reject cookies, you may still use our Sites though your access to some functionality and areas of our website may be restricted. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information.</p>
              <p>In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit <a href="http://www.aboutads.info/choices/">http://www.aboutads.info/choices/</a> or <a href="http://www.youronlinechoices.com/">http://www.youronlinechoices.com/</a></p>
            </div>
            <div id="updates" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">How often will you update this Cookie Policy?</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We may update this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal, or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.</p>
              <p>The date at the top of this Cookie Policy indicates when it was last updated.</p>
            </div>
            <!-- Refunds -->
            <div id="contact" class="u-shadow-v19 g-bg-white rounded g-pa-40">
              <h3 class="g-color-black mb-3">Where can I get further information?</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              		<p>If you have questions about our use of cookies or other technologies, please contact us at:
                        <address class="g-font-weight-500">
							Don't Panic Consulting
                            <br> 415 Congress Street
                            <br> Suite 202
                            <br> Portland, ME 04101
                            <br> +1 (207) 536-9202
                            <br> info@dontpanic.consulting
						</address>
                    </p>
            </div>
            <!-- End Refunds -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Content -->
