<div class="body">
	<section class="section bg-white" id="joinTeam">
		<div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="title">Join Our Team</h2>
                    <p class="title-alt">We are a collection of Blockchain-enthusiasts, business owners, and lawyers.
						
					</p>
                </div>
            </div>
        	<div class="row">
				<div id="BambooHR"><script src="https://aocyber.bamboohr.com/js/jobs2.php" type="text/javascript"></script><div id="BambooHR-Footer">Powered by<a href="http://www.bamboohr.com" target="_blank" rel="external nofollow"><img src="https://resources.bamboohr.com/images/footer-logo.png" alt="BambooHR - HR software"/></a></div></div>
            </div>
		</div>
	</section>
</div>
