<style>
    h2 {
        color:white;
    }
</style>
<div class="body">

    <section class="section-lg home-alt bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>AO Blockchain System Pre-Sale</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h2>We are currently working on getting our ICO platform ready. We will be launching a pre-sale soon!</h2>
                    <a href="https://docs.google.com/document/d/1Qzh6KTDGS21Xl7vHIUBYm9Zn_WQkPTeYtTmxegXogto" class="btn btn-primary">View White Paper (Draft)</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-white" id="features">
        <div class="container">
            <h1 class="features">Pre-Sale / ICO Features</h1>
            <div class="row m-t-40">
                <div class="col-md-4">
                    <ul class="item-list-right item-list-big list-unstyled">
                        <li class="wow fadeInLeft animated">
                            <span class="number">1</span>
                            <h4>All Coins in Escrow</h4>
                            <p> All BTC, BHC, ETC, and LTC collected during the ICO will be held in a 3-of-5 Coinbase Vault. Pre-Sale funds will go directly to Don't Panic Consulting's Coinbase wallets.</p>
                        </li>
                        <li class="wow fadeInLeft animated">
                            <span class="number">2</span>
                            <h4>Referrals</h4>
                            <p>Everyone is eligible for a 2-5% referral bonus. If you get in during the pre-sale, you get 5%, during the ICO 2%. More info coming soon, along with community, support, and social pages.</p>
                            
                        </li>
                        <li class="wow fadeInLeft animated">
                            <span class="number">3</span>
                            <h4>Pre-Sale Bonus</h4>
                            <p>If you participate in the pre-sale, you will get double the AOC at the end of the ICO. This is our reward for partnering with us early in the process.</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-push-4">
                    <ul class="item-list-left item-list-big list-unstyled">
                        <li>
                            <span class="number">4</span>
                            <h4>Escrow Partners</h4>
                            <p>During the Pre-Sale, and prior to the ICO, we will be looking for two Escrow partners from the community. We will have two members of Don't Panic Consulting, and one lawyer as the others.</p>
                        </li>
                        <li>
                            <span class="number">5</span>
                            <h4>ICO Beta</h4>
                            <p>The ICO will be started once a Beta of the AO Blockchain System is read. All core functionality, the web wallet, and initial delegates will be completed prior to ICO launch.</p>
                        </li>
                        <li>
                            <span class="number">6</span>
                            <h4>Refunds / Compliance</h4>
                            <p>All transactions in regards to the pre-sale, and the ICO, are non-refundable. The Pre-Sale and ICO are being conducted with full AML / KYC compliance checks to abide by US law.</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-pull-4">
                    <div class="text-center hidden-xs">
                        <img class="screen" src="images/icon.png" alt="" height="auto" width="250">
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </section>
</div>