<!-- Promo Banner -->
<div class="g-min-height-450 g-flex-centered g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-pt-80" style="background-image: url(assets/img-temp/1920x800/img2.jpg);">
	<div class="container g-pos-rel g-z-index-1">
		<span class="d-block text-uppercase g-color-primary g-font-weight-500 g-font-size-13 mb-4">Token Sale</span>
		<h2 class="h1 g-color-white g-font-size-60--lg mb-0">Pre-Sale and ICO</h2>
	</div>
</div>
<!-- End Promo Banner -->

<!-- Services -->
<div class="container g-pt-50 g-pb-70">
	<div class="row">
		<div class="col-lg-9 g-mb-30">
			<!-- Carousel -->
			<div class="js-carousel g-mb-80" data-infinite="true" data-autoplay="true" data-speed="10000" data-arrows-classes="u-arrow-v1 g-pos-abs g-bottom-0 g-right-0 g-width-35 g-height-35 g-brd-around g-brd-white-opacity-0_5 g-brd-main--hover g-color-white-opacity-0_5 g-color-primary--hover g-bg-transparent g-bg-main--hover g-font-size-default rounded g-mr-40 g-mb-40"
			data-arrow-left-classes="fa fa-angle-left g-mr-85" data-arrow-right-classes="fa fa-angle-right">
				<div class="js-slide">
					<!-- Carousel Slide -->
					<div class="g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-black-opacity-0_3--after g-pt-100" style="background-image: url(assets/img/pre-sale.png);">
						<div class="g-max-width-645 g-pos-rel g-z-index-1 g-pa-40">
							<div class="mb-5">
								<h2 class="g-color-white mb-4">Pre-Sale - $0.00125 / AOC</h2>
								<p class="g-color-white-opacity-0_9 g-font-size-16 g-line-height-2">Our Pre-Sale of 500 Million AOC is running now. ICO price will be $0.0025 per coin.</p>
							</div>
							<a class="btn u-btn-black g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13"
							href="/signUp">
								Sign Up
								<i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
							</a>
						</div>
					</div>
					<!-- End Carousel Slide -->
				</div>

				<div class="js-slide">
					<!-- Carousel Slide -->
					<div class="g-bg-img-hero g-bg-pos-top-center g-bg-size-cover g-bg-cover g-bg-black-opacity-0_3--after g-pt-100" style="background-image: url(assets/img/ico.png);">
						<div class="g-max-width-645 g-pos-rel g-z-index-1 g-pa-40">
							<div class="mb-5">
								<h2 class="g-color-white mb-4">ICO - Starting in May 2018</h2>
								<p class="g-color-white-opacity-0_9 g-font-size-16 g-line-height-2">40 Billion AOC will be released to the public for sale in May. ICO Price - $0.0025 / AOC</p>
							</div>
							<a class="btn u-btn-black g-brd-main g-brd-primary--hover g-bg-main g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-px-25 g-py-13"
							href="https://docs.aoblockchain.io">
								White Paper
								<i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right"></i>
							</a>
						</div>
					</div>
					<!-- End Carousel Slide -->
				</div>
			</div>
			<!-- End Carousel -->

			<!-- Services -->
			<div class="row g-pb-20">
				<div class="col-md-6 col-lg-4 g-mb-50">
					<!-- Services -->
					<article>
						<div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
							<span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
								<i class="icon-education-096 u-line-icon-pro"></i>
							</span>
							<h3 class="h5 d-inline-block g-font-weight-600 mb-0">Pre-Sale Revenue</h3>
						</div>

						<span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2">Distributed Immediately</span>
						<p>All BTC, BCH, ETH, and LTC collected during pre-sale will be immediately available for Don't Panic Consulting to use
							for the AO Blockchain project.</p>
					</article>
					<!-- End Services -->
				</div>

				<div class="col-md-6 col-lg-4 g-mb-50">
					<!-- Services -->
					<article>
						<div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
							<span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
								<i class="icon-education-102 u-line-icon-pro"></i>
							</span>
							<h3 class="h5 d-inline-block g-font-weight-600 mb-0">ICO Revenue</h3>
						</div>

						<span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2">Held in Escrow</span>
						<p>All BTC, BCH, ETH, and LTC collected during the ICO will be held in a 3-of-5 Coinbase Vault. Revenue from ICO will
							be released when AOC is released.</p>
					</article>
					<!-- End Services -->
				</div>

				<div class="col-md-6 col-lg-4 g-mb-50">
					<!-- Services -->
					<article>
						<div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
							<span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
								<i class="icon-education-121 u-line-icon-pro"></i>
							</span>
							<h3 class="h5 d-inline-block g-font-weight-600 mb-0">Referrals</h3>
						</div>

						<span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2">Get AOC For Free</span>
						<p>Everyone is eligible for a referral bonus. If you get in during the pre-sale, you get 5%, during the ICO 2%. Watch
							our blog and newsletter for more info.</p>
					</article>
					<!-- End Services -->
				</div>

				<div class="col-md-6 col-lg-4 g-mb-50">
					<!-- Services -->
					<article>
						<div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
							<span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
								<i class="icon-media-007 u-line-icon-pro"></i>
							</span>
							<h3 class="h5 d-inline-block g-font-weight-600 mb-0">Pre-Sale Bonus</h3>
						</div>

						<span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2">2x the Coin</span>
						<p>If you participate in the pre-sale, you will get double the AOC at the end of the ICO. This is our reward for partnering
							with us early in the process.</p>
					</article>
					<!-- End Services -->
				</div>

				<div class="col-md-6 col-lg-4 g-mb-50">
					<!-- Services -->
					<article>
						<div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
							<span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
								<i class="icon-media-008 u-line-icon-pro"></i>
							</span>
							<h3 class="h5 d-inline-block g-font-weight-600 mb-0">ICO Beta</h3>
						</div>

						<span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2">Proof of Concept for Coin</span>
						<p>The ICO will be started once a Beta of the AO Blockchain System is read. All core functionality, the web wallet, and
							initial delegates will be completed prior to ICO launch.</p>
					</article>
					<!-- End Services -->
				</div>

				<div class="col-md-6 col-lg-4 g-mb-50">
					<!-- Services -->
					<article>
						<div class="d-flex align-items-center g-brd-bottom g-brd-2 g-brd-primary g-pb-20 g-mb-20">
							<span class="align-middle u-icon-v3 u-icon-size--xs g-color-white g-bg-primary rounded-circle mr-2">
								<i class="icon-media-107 u-line-icon-pro"></i>
							</span>
							<h3 class="h5 d-inline-block g-font-weight-600 mb-0">Refunds / Compliance</h3>
						</div>

						<span class="d-block g-font-weight-600 g-font-size-12 text-uppercase mb-2">Utility Token</span>
						<p>The AOCoin you are buying during the Pre-Sale is used for the operation of the AO Blockchain. Not subject to securities
							law. All transactions are non-refundable.</p>
					</article>
					<!-- End Services -->
				</div>
			</div>
			<!-- End Services -->

			<!-- Gallery -->
			<ul class="row list-inline g-mx-minus-5">
				<li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
					<img class="img-fluid" src="/assets/img/btc.png" alt="Bitcoin">
				</li>
				<li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
					<img class="img-fluid" src="/assets/img/bch.png" alt="Bitcoin Cash">
				</li>
				<li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
					<img class="img-fluid" src="/assets/img/eth.png" alt="Ether">
				</li>
				<li class="col-6 col-sm-6 col-md-3 list-inline-item g-px-5 mx-0 g-mb-10">
					<img class="img-fluid" src="/assets/img/ltc.png" alt="Litecoin">
				</li>
			</ul>
			<!-- End Gallery -->
		</div>

		{{> profileSidebar}}
	</div>
</div>

<!-- Blog Single Item Blocks -->
<div class="container text-center">
<div class="u-heading-v1-3 g-bg-white g-brd-primary g-mb-20">
  <h2 class="h1 u-heading-v1__title">Fundraising 
    <span class="g-color-primary">Process</span>
  </h2>
</div>
</div>
<div class="g-brd-top--md g-brd-gray-light-v4 g-pos-rel">
	<div class="container">
		<div class="row justify-content-end no-gutters">
			<div id="stickyblock-start" class="col-md-6 align-self-center h-100 g-pos-abs--md g-top-0 g-left-0">
				<div class="js-sticky-block g-sticky-block--md g-bg-img-hero g-min-height-100vh" data-bg-img-src="assets/img-temp/1920x1080/img1.jpg"
				data-type="responsive" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end"></div>
			</div>

			<div class="col-md-5 g-pb-50 g-pb-0--md">
				<div class="g-max-width-400 g-py-50">
					<div class="g-mb-40 g-mb-80--md">
						<h3 class="h4 mb-3">
							<span class="g-color-primary g-font-weight-600">01.</span> Pre-Sale</h3>
						<p class="g-line-height-2">Until all 500,000,000 AOC available for the pre-sale is sold, the pre-sale will run. This will help fund the development
							and ICO marketing efforts.</p>
					</div>

					<div class="g-mb-40 g-mb-80--md">
						<h3 class="h4 mb-3">
							<span class="g-color-primary g-font-weight-600">02.</span> Development</h3>
						<p class="g-line-height-2">Continuing through the pre-sale, and the ICO, development of a beta version of the AO Blockchain will be created, tested,
							and demonstrated to the world.</p>
					</div>

					<div class="g-mb-40 g-mb-80--md">
						<h3 class="h4 mb-3">
							<span class="g-color-primary g-font-weight-600">03.</span> Marketing</h3>
						<p class="g-line-height-2">During development, and through the pre-sale, a marketing team will be assembled to present AO Blockchain as professionally
							as possible, backed by great support.</p>
					</div>

					<div class="g-mb-40 g-mb-80--md">
						<h3 class="h4 mb-3">
							<span class="g-color-primary g-font-weight-600">04.</span> ICO</h3>
						<p class="g-line-height-2">In May of 2018, the ICO will commence. 400 Billion AOC will be released to sale to the public. First come, first served.
						</p>
					</div>

					<div class="g-mb-40 g-mb-80--md">
						<h3 class="h4 mb-3">
							<span class="g-color-primary g-font-weight-600">05.</span> Production Launch</h3>
						<p class="g-line-height-2">Once the ICO is complete, a full development team will be built to finalize the development of the AO Blockchain, conduct
							a full audit of the production systems for code and security errors, and then release AO Blockchain to the public.
						</p>
					</div>

					<h3 class="h4 mb-3">
						<span class="g-color-primary g-font-weight-600">06.</span> Continued Development</h3>
					<p class="g-line-height-2">Once the AO Blockchain is released to production, the system will continue to be developed on, with security fixes and
						authorized features delivered seamlessly, and autonomously to the delegates and registered nodes.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Blog Single Item Blocks -->

<div id="stickyblock-end"></div>
