    <!-- Promo Block -->
    <section class="container g-pt-150 g-pb-50">
      <div class="row">
        <div class="col-lg-12">
          <div class="d-inline-block g-width-80 g-height-4 g-bg-black mb-3"></div>
          <h2 class="g-color-black g-font-weight-700 g-font-size-50 g-line-height-1 mb-4">Privacy Policy</h2>
          <p>Don't Panic Consulting ("we" or "us" or "our") respects the privacy of our users ("user" or "you"). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website <a href="https://aoblockchain.io">https://aoblockchain.io</a> including any other media form, media channel, mobile website, or mobile application related or connected thereto (collectively, the "Site"). Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE SITE.</p>
          <p class="mb-0">We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the "Revised" date of this Privacy Policy. Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site. and you waive the right to receive specific notice of each such change or modification. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.</p>
        </div>
      </div>
    </section>
    <!-- End Promo Block -->

    <!-- Content -->
    <section class="g-bg-gray-light-v5">
      <div class="container g-py-100">
        <div class="row">
          <div id="stickyblock-start" class="col-md-4 g-mb-30">
            <div class="js-sticky-block g-sticky-block--lg" data-type="responsive" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
              <ul class="list-unstyled mb-0">
                <li class="g-bg-gray-dark-v2 g-rounded-top-5 g-px-20 g-pt-30">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#collection">Collection Of Your Information</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#use">Use Of Your Information</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#disclosure">Disclosure Of Your Information</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#tracking">Tracking Technologies</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#thirdParty">Third-Party Websites</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#google">Google Maps</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#security">Security Of Your Information</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#policy">Policy For Children</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#controls">Controls For Do-Not-Track Features</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#options">Options Regarding Your Information</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-px-20">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#california">California Privacy Rights</a>
                </li>
                <li class="g-bg-gray-dark-v2 g-rounded-bottom-5 g-px-20 g-pb-30">
                  <a class="js-go-to d-block g-color-white g-bg-primary--hover g-font-weight-600 g-font-size-12 text-uppercase g-text-underline--none--hover rounded g-px-20 g-py-15" href="#!" data-target="#contact">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-8">
            <!-- License -->
            <div id="collection" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h2 class="h3 g-color-black mb-3">Collection Of Your information</h2>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We may collect information about you in a variety of ways. The information we may collect on the Site includes:</p>
              <h3>Personal Data</h3>
              <p>Personally identifiable information, such as your name, shipping address, email address, and telephone number, and demographic information, such as your age, gender, hometown, and interests, that you voluntarily give to us when you register with the Site or when you choose to participate in various activities related to the Site, such as online chat and message boards. You are under no obligation to provide us with personal information of any kind, however your refusal to do so may prevent you from using certain features of the Site.</p>
              <h3>Derivative Data</h3>
              <p>Information our servers automatically collect when you access the Site, such as your IP address, your browser type, your operating system, your access times, and the pages you have viewed directly before and after accessing the Site.</p>
              <h3>Financial Data</h3>
              <p>Financial information, such as data related to your payment method (e.g. valid credit card number, card brand, expiration date) that we may collect when your purchase, order, return, exchange, or request information about our services from the Site. We store only very limited, if any, financial information that we collect. Otherwise all financial information is stored by our payment processor, <a href="https://stripe.com/us/privacy/">Stripe</a>, and you are encouraged to review their privacy policy and contact them directly for responses to your questions.</p>
              <h3>Facebook Permissions</h3>
              <p>The Site may by default access your <a href="https://www.facebook.com/about/privacy/">Facebook</a> basic account information, including your name, email, gender, birthday, current city, and profile picture URL, as well as other information that you choose to make public. We may also request access to other permissions related to your account, such as friends, checkins, and likes. and you may choose to grant or deny us access to each individual permission. For more information regarding Facebook permissions, refer to the <a href="https://developers.facebook.com/docs/facebook-login/permissions">Facebook Permissions Reference</a> page.</p>
              <h3>Data From Social Networks</h3>
              <p>User information from social networking sites, such as Facebook, Google+, Instagram, Pinterest, Twitter, including your name, your social network username, location, gender, birth date, email address, profile picture, and public data for contacts, if you connect your account to such social networks</p>
              <h3>Data From Contests, Giveaways, and Surveys</h3>
              <p>Personal and other information you may provide when entering contests or giveaways and/or responding to surveys.</p>
            </div>
            <!-- End License -->

            <!-- Ownership -->
            <div id="use" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Use Of Your Information</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about your via the Site to:</p>
              <ul>
                  <li>Administer sweepstakes, promotions, and contests.</li>
                  <li>Assist law enforcement and respond to subpoenas.</li>
                  <li>Create and manage your account.</li>
                  <li>Deliver targeted advertising, coupons, newsletters, and promotions, and other information regarding our website and mobile application to you.</li>
                  <li>Email you regarding your account or order.</li>
                  <li>Enable user-to-user communications.</li>
                  <li>Fulfill and manage purchases, orders, payments, and other transactions related to the Site.</li>
                  <li>Generate a personal profile about you to make future visits to the Site more personalized.</li>
                  <li>Increase the efficiency and operation of the Site.</li>
                  <li>Monitor and analyze usage and trends to improve your experience with the Site.</li>
                  <li>Notify you of updates to the Site.</li>
                  <li>Offer new products, services, and/or recommendations to you.</li>
                  <li>Perform other business activities as needed.</li>
                  <li>Prevent fraudulent transactions, monitor against theft, and protect against criminal activity.</li>
                  <li>Process payments</li>
                  <li>Request feedback and contact your about your use of the Site.</li>
                  <li>Resolve disputes and troubleshoot problems.</li>
                  <li>Respond to product and customer service requests.</li>
                  <li>Send you a newsletter.</li>
                  <li>Solicit support for the Site.</li>
                  <li>Compile anonymous statistical data to use internally or with third parties.</li>
              </ul>
            </div>
            <!-- End Ownership -->

            <!-- Usage -->
            <div id="disclosure" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Disclosure Of Your Information</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We may share information we have collected about you in certain situations. Your information may be disclosed as follows:</p>
              <h3>By Law or to Protect Rights</h3>
              <p>If we believe the release of information about you is necessary to respond to legal process, to investigate or remedy potential violations of our policies, or to protect the rights, property, and safety of others, we may share your information as permitted or required by any applicable law, rule, or regulation. This includes exchanging information with other entities for fraud protection and credit risk reduction.</p>
              <h3>Third-Party Service Providers</h3>
              <p>We may share your information with third parties that perform services for us or on our behalf, including payment processing, data analysis, email delivery, hosting services, customer service, and marketing assistance.</p>
              <h3>Interactions with Other Users</h3>
              <p>If you interact with other users of the Site, those users may see your name, profile photo, and descriptions of your activity, including sending invitations to other users, chatting with other users, liking posts, following blogs.</p>
              <h3>Online Postings</h3>
              <p>When you post comments, contributions or other content to the Site, your posts may be viewed by all users and may be publicly distributed outside the Site in perpetuity.</p>
              <h3>Social Media Contacts</h3>
              <p>If you connect to the Site through a social network, your contacts on the social network will see your name, profile photo, and descriptions of your activity.</p>
              <h3>Other Third Parties</h3>
              <p>We may share your information with advertisers and investors for the purpose of conducting general business analysis. We may also share your information with such third parties for marketing purposes, as permitted by law.</p>
              <h3>Sale or Bankruptcy</h3>
              <p>If we reorganize or sell all or a portion of our assets, undergo a merger, or are acquired by another entity, we may transfer your information for the successor entity. If we go out of business or enter bankruptcy, your information would be an asset transferred or acquired by a third party. You acknowledge that such transfers may occur and that the transferee may decline to honor commitments we made in this Privacy Policy.</p>
              <p>We are not responsible for the actions of third parties with whom you share personal or sensitive data, and we have no authority to manage or control third-party solicitations. If you no longer wish to receive correspondence, emails, or other communications from third parties, you are responsible for contacting the third party directly.</p>
            </div>
            <!-- End Usage -->
            <div id="tracking" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Tracking Technologies</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <h3>Cookies and Web Beacons</h3>
              <p>We may use cookies, web beacons, tracking pixels, and other tracking technologies on the Site to help customize the Site and improve your experience. For more information on how we use cookies, please refer to our <a href="/cookie">Cookie Policy</a> posted on the Site, which is incorporated into this Privacy Policy. By using the Site, you agree to be bound by our <a href="/cookie">Cookie Policy</a>.</p>
              <h3>Website Analytics</h3>
              <p>We may also partner with selected third-party vendors, such as Google Analytics, New Relic, FreshMarketer, FreshChat, and FreshSales, to allow tracking technologies and remarketing services on the Site through the use of first party cookies and third-party cookies, to, among other things, analyze and track users' use of the Site, determine the popularity of certain content and better understand online activity. By accessing the Site, you consent to the collection and use of your information by these third-party vendors. You are encourgaged to review their privacy policy and contact them directly for responses to your questions. We do not transfer personal information to these third-party vendors.</p>
            </div>
            <div id="thirdParty" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Third-Party Websites</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>The Site may contain links to third-party websites and applications of interest, including advertisements and external services, that are not affiliated with us. Once you have used these links to leave the Site, any information you provide to these third parties is not covered by this Privacy Policy, and we cannot guarantee the safety and privacy of your information. Before visiting and providing any information to third-party websites, you should inform yourself of the privacy policies and practices (if any) of the third party responsible for that website, and should take those steps necessary to, in your discretion, protect the privacy of your information. We are not responsible for the content or privacy and security practices and policies of any third parties, including other sites, services or applications that may be linked to or from the Site.</p>
            </div>
            <div id="security" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Security Of Your Information</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We use administrative, technical, and physical security measures to help protect your personal information. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse. Any information disclosed online is vulnerable to interception and misuse by unauthorized parties. Therefore, we cannot guarantee complete security if you provide personal information.</p>
            </div>
            <div id="policy" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Policy For Children</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>We do not knowingly solicit information from or market to children under the age of 13. If you become aware of any data we have collected from children under age 13, please contact us using the contact information provided below.</p>
            </div>
            <div id="controls" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Controls For Do-Not-Track Features</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>Most web browsers and some mobile operating systems include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this Privacy Policy.</p>
            </div>
            <div id="options" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">Options Regarding Your Data </h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <h3>Account Information</h3>
              <p>You may at any time review or change the information in your account or terminate your account by:</p>
              <ul>
                  <li>Contacting us using the contact information provided.</li>
              </ul>
              <p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with legal requirements.</p>
              <h3>Emails and Communications</h3>
              <p>If you no longer wish to receive correspondence, emails, or other communications from us, you may opt-out by:</p>
              <ul>
                  <li>Contacting us using the contact information provided.</li>
                  <li>Logging into your account settings and updating your preferences.</li>
              </ul>
              <p>If you no longer wish to receive correspondence, emails, or other communications from third-parties, you are responsible for contacting the third-party directly.</p>
            </div>
            <div id="california" class="u-shadow-v19 g-bg-white rounded g-pa-40 g-mb-50">
              <h3 class="g-color-black mb-3">California Privacy Rights </h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              <p>California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us uysing the contact information provided below.</p>
            </div>
            <!-- Refunds -->
            <div id="contact" class="u-shadow-v19 g-bg-white rounded g-pa-40">
              <h3 class="g-color-black mb-3">Contact Us</h3>
              <div class="d-inline-block g-width-50 g-height-2 g-bg-black mb-3"></div>
              		<p>If you have questions or comments about this Privacy Policy, please contact us at:
                        <address class="g-font-weight-500">
							Don't Panic Consulting
                            <br> 415 Congress Street
                            <br> Suite 202
                            <br> Portland, ME 04101
                            <br> +1 (207) 536-9202
                            <br> info@dontpanic.consulting
						</address>
                    </p>
            </div>
            <!-- End Refunds -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Content -->