<div class="body">

    <section class="section-lg home-alt bg-gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h1>Initial Coin Offering</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9hN60Y6GTcU" frameborder="0"
                            allowfullscreen></iframe>

                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">


                    <h1>ICO IS COMPLETE! THANK YOU FOR ALL OF THE SUPPORT!</h1>
					
					<a type="button" class="btn btn-default btn-lg" href="/stats">ICO STATS</a>

                </div>
            </div>

        </div>
    </section>
    <section class="section bg-white" id="features">
        <div class="container">
            <div class="row m-t-40">
                <div class="col-md-4">
                    <ul class="item-list-right item-list-big list-unstyled">
                        <li class="wow fadeInLeft animated">
                            <span class="number">1</span>
                            <h4>All Coins in Escrow</h4>
                            <p> All collected BTC will be held in a multi-signature desktop wallet (Electrum) using the
                                2-of-3 Multi-Signature to ensure maximum security.</p>
                        </li>
                        <li class="wow fadeInLeft animated">
                            <span class="number">2</span>
                            <h4>ICO Is Completed</h4>
                            <p>  The ICO began at 6 AM (EST) Tuesday, May 10th and ended at 6:00 AM (EST) Friday,
                                June
                                24th.   </p>
                        </li>
                        <li class="wow fadeInLeft animated">
                            <span class="number">3</span>
                            <h4>ICO Bonus</h4>
                            <p> Day 1 and Day 2 bonus: 25%  | 1st week bonus beginning on Day 3: 20% |  2nd week bonus:
                                15%  | 3rd week bonus: 10%  |4th, 5th, 6th week bonus: 0%</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-push-4">
                    <ul class="item-list-left item-list-big list-unstyled">
                        <li>
                            <span class="number">4</span>
                            <h4>Escrow Partners</h4>
                            <p>Richie Lai, a Founder of Bittrex Exchange and John L. Jegutanis, CTO of Coinomi have
                                agreed to only release the funds once Rise ICO participants receive their tokens.</p>
                        </li>
                        <li>
                            <span class="number">5</span>
                            <h4>Referrals</h4>
                            <p>Everyone was eligible for a 3% referral bonus through our Affiliate Marketing program
                                which ran during the full length of the ICO. <a
                                        href="https://rise.vision/blog/post/a-quick-guide-rise-affiliate-marketing-program">More
                                    here</a></p>
                        </li>
                        <li>
                            <span class="number">6</span>
                            <h4>Refunds</h4>
                            <p>BTC exchanged during the ICO is technically (and for legal purposes) donated and will not
                                be eligible for a refund.</p>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 col-md-pull-4">
                    <div class="text-center hidden-xs">
                        <img class="screen" src="images/logo.png" alt="" height="auto" width="250">
                    </div>
                </div>

            </div><!-- row end -->
        </div>
    </section>
</div>
