<div class="body">
    <section class="section bg-white" id="flyer">
        <div class="container">
           <a href="https://plus.google.com/events/c2kbg71mc7ugccddnci03t3v99g"><img src="/cdn/rise_next_generation_economy_flyer.jpg" title="Link to Hangout" width="960" /></a>
        </div>
    </section>
</div>
